@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Подтверждение сброса пароля";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте вашу электронную почту, чтобы сбросить пароль.
</p>
