<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
        <machineKey validationKey="AutoGenerate"
                    decryptionKey="AutoGenerate"
                    validation="SHA1" decryption="AUTO" />
    </system.web>
    <appSettings>
        
    </appSettings>
</configuration>
