.chat {
    background: white;
    position: relative;
    border: 2px solid black;
    border-radius: 15px;
    margin: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    grid-column: 2 / 4;
    grid-row: 3 / 4;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 20px;

    width: 80px;
    height: 30px;
    margin-top: -15px;
    border-radius: 5px;

    background: darkblue;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
}

.messages {
    height: 60%;
    overflow: scroll;
}

.message {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    margin: 0;
}

.message-from {
    font-weight: bold;
    margin: 0 10px 0 0;
}

.message-text {
    margin: 0;
}

.form {
    height: 15%;
}

.form,
.messages {
    width: 90%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

.send {
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

.loading {
    text-align: center;
}
