html {
    overflow: hidden;
}

.room {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    margin: 30px;
    height: 95vh;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    width: 100%;
    text-align: center;
    color: deepskyblue;
}

.copy:hover {
    cursor: pointer;
}

@media screen and (max-width: 640px) {
    .room {
        margin: 0;
        grid-gap: 10px;
    }
}