.field {
    position: relative;
    background: white;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    margin: 0;

    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.clear {
    right: 20px;
}

.end {
    right: 120px;
}

.end,
.clear {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

    position: absolute;

    width: 80px;
    height: 30px;
    margin-top: -15px;
    border-radius: 5px;

    background: darkblue;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
