.board {
    margin: 30px 150px;
    background: white;
    border: 2px solid black;
    text-align: center;
    border-radius: 15px;
}

.users {
    overflow-y: auto;
    margin: 10px;
}

.loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user {
    font-size: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}

.user:last-child {
    border-bottom: none;
}

.user__info {
    grid-column: 1 / 3;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.user__index {
    font-size: 20px;    
    font-weight: 700;
    
    grid-column: 1 / 2;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #0000ff;
}

.user__image {
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    grid-column: 2 / 3;
}

.table__header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 700;
    vertical-align: center;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.current__user,
.user__name {
    margin-right: 20px;
    margin-left: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 3 / 5;
}

.current__user {
    color: blue;    
}

.user__score {
    font-size: 30px;
    margin: 0;
    color: #0366d6;
    vertical-align: middle;
}

.p__info {
    grid-column: 1 / 3;
}

.p__score,
.user__score {
    grid-column: 3 / 4;
}

.p__info,
.p__score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.select__sort {
    display: block;
    margin: 10px 150px;
}

.select__label {
    margin-right: 5px;
}

.ellipsis {
    font-size: 30px;
    font-weight: 700;

    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}